<div class="home-page-container">
    <div style="width:80%;border: 1px solid gray;height: 100%;margin: auto;overflow-y: auto;">
        <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> <img width="20" height="20"
                        src="{{element.icon_url}}">&nbsp;&nbsp; {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price | currency : 'USD' :'symbol' : '1.0-4'}} </td>
            </ng-container>

            <ng-container matColumnDef="24h">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 24h % </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.last24hrChange < 2" style="color: #ea3943;">
                        ▲ {{element.last24hrChange | number:'1.0-2'}} %
                    </span>
                    <span *ngIf="element.last24hrChange > 2" style="color: #16c784;">
                        ▼ {{element.last24hrChange | number:'1.0-2'}} %
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="7d">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 7d % </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.last24hrChange < 2" style="color: #ea3943;">
                        ▲ {{element.last7dChange | number:'1.0-2'}} %
                    </span>
                    <span *ngIf="element.last24hrChange > 2" style="color: #16c784;">
                        ▼ {{element.last7dChange | number:'1.0-2'}} %
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<app-loader *ngIf="isLoader"></app-loader>